@import 'normalize.css';

* {
  box-sizing: border-box;

}

ul, ol {
  list-style-type: none;
  padding-inline-start: 0;
}

.nav li {
  display: inline-block;
  margin: 0 9px;
  opacity: 0.6;
}

:root {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 100%;
  min-width: 1200px;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 26px 0;
  position: absolute;
  width: 100%;
}

.header-content {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.logo-letter {
  font-size: 40px;
  height: 67px;
  width: 58px;
  text-align: center;
  line-height: 67px;
  background: url("./images/sections_background/nav-logo.png");
}

.header-text {
  font-size: 16px;
  color: #ffffff;
  margin-left: 6px;
  text-decoration: none;
}

.header-text-color {
  color: #18cfab;
  font-weight: bold;
}

.header-content-right {
  display: flex;
  align-items: center;
}

.header-nav-text {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
}

.header-nav-text:hover {
  color: #18cfab;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.header-background {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(./images/sections_background/section-header.jpg);
  background-attachment: fixed;
}

.header-background-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.background-title {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.background-title-color {
  color: #18cfab;
}

.background-text {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 45px 0 20px;
}

.background-undertext {
  font-size: 30px;
  font-weight: 200;
  margin: 15px 0 140px;
}

.header-background-button {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.button {
  width: 165px;
  height: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.225s;
}

.button:hover {
  box-shadow: 0 -5px 1px white;
}

.subscribe {
  background-color: #18cfab;
  text-transform: uppercase;
}

.articles {
  background-color: #00cbf6;
  text-transform: uppercase;
}

/*Nav Bar Buttons*/
.nav-bar-wrapper {
  display: flex;
  flex-direction: row;
}

.nav-bar-button {
  width: 100vw;
  height: 375px;
  font-size: 20px;
  text-transform: uppercase;
  border-style: none;
  padding: 0;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.image-holder {
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hand, .lamp {
  background-color: #1c2a33;
  box-shadow: 0 -7px 1px #18cfab;
  color: #18cfab;
}

.diamond, .devices {
  background-color: #18cfab;
  box-shadow: 0 -7px 1px #ffffff;
  color: #ffffff;
}

/*Section Our Services*/
.services {
  background-color: #ffffff;
  color: #717171;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.section-title {
  font-size: 36px;
  font-weight: 400;
  margin: 82px 0 37px;
  color: #717171;
  text-decoration: none;
}

.decoration-line {
  width: 76px;
  margin: 1px 0;
  display: block;
  border: 1px solid #18cfab;
  border-bottom-width: 0;
}

.top {
  margin-right: 20px;
}

.under {
  margin-bottom: 70px;
}

.tabs {
  display: flex;
  list-style: none;
  height: 73px;
  width: 1160px;
  padding-left: 0;
}

.tabs-title {
  padding: 20px;
  background-color: #f8fcfe;
  color: #717171;
  cursor: pointer;
  border: 1px solid #eff0f1;
  width: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-title.active {
  background-color: #18cfab;
  color: #ffffff;
  position: relative;
}

.tabs-title.active::after {
  content: '';
  position: absolute;
  left: 81px;
  top: 71px;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
}

.tabs-content {
  color: #717171;
  list-style: none;
  width: 1160px;
  padding-left: 0;
}

.tabs-text {
  color: #717171;
  display: none;
  font-size: 14px;
  text-align: justify;
  line-height: 1.5;
}

.tab-img {
  float: left;
  margin-right: 20px;
}

/*Section main*/
.section-main {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8)), url("./images/sections_background/section-main.jpg");
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
}

.section-main-title {
  color: #18cfab;
  text-transform: uppercase;
  font-weight: 600;
}

.section-main-text {
  margin-bottom: 75px;
}

.purchase {
  background-color: #18cfab;
  text-transform: uppercase;
}

/*Portfolio*/
.portfolio {
  background-color: #f8fcfe;
  color: #717171;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-tabs {
  display: flex;
  list-style: none;
  height: 60px;
  width: 610px;
  padding-left: 0;
}

.portfolio-tabs-title {
  padding: 20px;
  color: #717171;
  cursor: pointer;
  border: 1px solid #eff0f1;
  width: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.portfolio-tabs-title:hover,
.portfolio-tabs-title.active {
  box-shadow: 0 -2px 1px #18cfab;
}

/*Portfolio Gallery*/
.portfolio-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1160px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  min-height: 266px;
  flex-wrap: wrap;
}

.portfolio-content::after {
  content: "";
  display: table;
  clear: both;
}

.portfolio-list-item {
  width: 283px;
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  justify-content: center;
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.white-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #18cfab;
  width: 100%;
  height: 209px;
  position: absolute;
  background: #ffffff;
  transform: translateY(100%);
  transition: 0.3s;
  bottom: 0;
  left: 0;
  padding: 40px 45px;
  box-sizing: border-box;
  box-shadow: 0 -2px 1px #18cfab;
  align-items: center;
}

.link:hover .white-box {
  transform: translateY(0);
}

.icons {
  padding-bottom: 30px;
}

.fa-link {
  transform: rotate(90deg);
}

.white-box-icon {
  border: 1px solid #18cfab;
  border-radius: 50%;
  color: #18cfab;
  padding: 12px;
  display: inline-block;
}

.white-box-icon:hover {
  background-color: #18cfab;
  color: white;
}

.white-box-title {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 14px;
  font-weight: bold;
}

.white-box-text {
  display: inline-block;
  font-size: 16px;
  color: #717171;
}

.load-more {
  width: 165px;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: #18cfab;
  margin: 50px 0 100px;
}

.load-more .fa-plus {
  margin-right: 15px;
  font-size: 16px;
  vertical-align: baseline;
}

/*Section Breaking News*/
.news {
  background-color: #ffffff;
  color: #717171;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-gallery-link {
  text-decoration: none;
}

.news-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1160px;
  box-sizing: border-box;
  padding-bottom: 110px;
}

.news-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.news-gallery .list-item {
  width: 263px;
  margin-bottom: 45px;
}

.image-container {
  position: relative;
}

.image-container img {
  vertical-align: middle;
  width: 290px;
}

.date-square {
  width: 68px;
  height: 66px;
  background-color: #203e38;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  position: absolute;
  right: 0;
  padding: 15px 20px;
  top: 0;
}

.news-gallery-link:hover .date-square {
  background-color: #18cfab;
  transition: 0.225s;
}

.content-box {
  width: 263px;
  background: #f8fcfe;
  padding: 15px 0 10px 15px;
  box-sizing: border-box;
}

.content-box-title {
  text-align: center;
  text-transform: capitalize;
  color: #717171;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  margin: 0 0 10px 0;
}

.news-gallery-link:hover .content-box-title {
  color: #18cfab;
  transition: 0.2s;
}

.content-box-text {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #717171;
  line-height: 14px;
}

.admin-text {
  border-right: 1px solid #717171;
  padding-right: 10px;
  margin-right: 10px;
}

/*Reviews*/
.reviews {
  background: url("./images/sections_background/section-footer.jpg") no-repeat fixed center;
}

.reviews-slider {
  position: relative;
}

.reviews-container {
  max-width: 1160px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.reviews-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-title {
  color: white;
}

.reviews-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  margin: 44px 0;
}

.slider-item {
  text-align: center;
  outline: none;
}

.slick-slide .slider-quote,
.slick-slide .customer-image {
  display: inline-block;
}

.customer-position {
  padding-bottom: 30px;
}

.customer-details {
  padding-bottom: 10px;
}

.customer-image {
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #18cfab;
  width: 142px;
  height: 142px;
  box-shadow: 0 0 0 8px rgba(24, 207, 171, 0.3);
}

.control-s {
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  bottom: -135px;
  z-index: 999;
}

.control-s:hover {
  background-color: #18cfab;
  color: #ffffff;
}

.control-prev {
  left: 300px;
}

.control-next {
  right: 300px;
}

.slick-slide .small-image {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.slider-image.slick-current {
  transform: translateY(-10px);
  transition: transform 0.225s;
}

.slick-slide.slider-image {
  width: 70px !important;
  height: 70px;
  border-radius: 100%;
  border: 1px solid #18cfab;
  overflow: hidden;
  outline: none;
  box-shadow: 0 0 0 3px rgba(24, 207, 171, 0.3);
}

.reviews-slider-nav .slick-track {
  transform: translate3d(0, 0, 0) !important;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.reviews-slider-nav {
  max-width: 420px;
  margin: 65px auto 0;
}

.copyright {
  font-size: 14px;
  color: #717171;
  clear: both;
  text-align: center;
  background-color: #22353f;
  padding: 47px;
  font-family: 'AdobeInvisFont', 'Courier New', sans-serif;
}

.color-text {
  color: #18cfab;
}